body {
  margin: 0;
}

input {
  font-size: 5vw;
  -moz-appearance: textfield;
  height: 100vh;
  display: block;
  border: 0;
  padding: 0;
  width: 100vw;
  text-align: center;
}

@keyframes darken {
  from {
    background-color: white;
  }
  to {
    background-color: black;
  }
}

:root {
  --time: 0s;
  --duration: 0s;
}

.active {
  animation: darken 1s, darken var(--duration) linear var(--time) reverse;
  animation-fill-mode: forwards;
}
